---
version: 2
interactions:
    - id: 0
      request:
        host: api.nbp.pl
        body: ""
        form: {}
        headers:
        url: http://api.nbp.pl/api/exchangerates/rates/A/EUR/2023-07-06?format=json
        method: GET
      response:
            - chunked
        body: '{"table":"A","currency":"euro","code":"EUR","rates":[{"no":"129/A/NBP/2023","effectiveDate":"2023-07-06","mid":4.4754}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"eX49OL00ByaY2wP/uTcHYV+sTwDJGyDPINJUWcLvRA8="'
        status: 200 OK
        code: 200
        duration: 148.256475ms
